.title {
  margin: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 96px;
  color: #ffffff;
  margin-bottom: 24px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #e6e6e6;
  margin: 0;
  margin-bottom: 34px;
}